%%====================================================================
%% hera/rebar.config
%%====================================================================

%% compile with debug info
{erl_opts, [debug_info]}.

%% Plugins: pc for port compilation
{plugins, [pc]}.

%% Dependencies: numerl, hera_synchronization, grisp
{deps, [
  {numerl,
    {git, "https://github.com/tanguyl/numerl.git", {branch, "master"}}},
  {hera_synchronization,
    {git, "https://github.com/sebkm/hera_synchronization.git", {branch, "master"}}},
  {grisp,
    {git, "https://github.com/grisp/grisp.git", {branch, "master"}}}
]}.

%% Build-hooks: run pc plugin to compile/clean C sources
{provider_hooks, [
  {pre, [
    {compile, {pc,    compile}},
    {clean,   {pc,    clean}}
  ]}
]}.

%% port_specs: build hera_wifi.so from c_src/*.c into priv/
{port_specs, [
  {"priv/hera_wifi.so", ["c_src/*.c"]}
]}.

%% Cross‐compile environment for GRiSP/RTEMS
{port_env, [
  {"CC",     "/home/nicolas/Documents/tfe/grisp2-rtems-toolchain/bin/arm-rtems5-gcc"},
  {"CFLAGS",
   "-I/home/nicolas/Documents/tfe/grisp2-rtems-toolchain/include " ++
   "-I/home/nicolas/Documents/tfe/grisp2-rtems-toolchain/arm-rtems5/include " ++
   "-I/home/nicolas/Documents/tfe/grisp2-rtems-toolchain/arm-rtems5/imx7/include " ++
   "-I/home/nicolas/Documents/tfe/grisp2-rtems-toolchain/arm-rtems5/imx7/include/grisp"},
  {"LDFLAGS",
   "-L/home/nicolas/Documents/tfe/grisp2-rtems-toolchain/arm-rtems5/imx7/lib " ++
   "-lgrisp -lrtems-bsdnet -lrtems"}
]}.

%% GRiSP OTP version & toolchain directory
{grisp, [
  {otp, [
    {version, "=27.2.4"}
  ]},
  {build, [
    {toolchain, [
      {directory, "/home/nicolas/Documents/tfe/grisp2-rtems-toolchain"}
    ]}
  ]}
]}.

%% Helpful shell: start apps hera + hera_synchronization
{shell, [{apps, [hera, hera_synchronization]}]}.

%% Release via relx
{relx, [
  {release, {hera, "1.0.0"}, [hera]}
]}.
